# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

ORIGIN=""
ADMIN_EMAILS="owner@vitto-shoes.local"
WHATSAPP_NUMBER="96100000000"
SEED_ADMIN_NAME="Vitto Owner"
SEED_ADMIN_EMAIL="owner@vitto-shoes.local"
SEED_ADMIN_PASSWORD="ChangeMe123!"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
